.container {
    display: grid;
    width: 50%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5px;
    grid-template-rows: auto;
}

@media screen and (max-width: 1800px){
    .container {
        width: 80%;
    }
}

